{% extends 'admin/master.html' %}

{% block body %}

<div class="container" style="margin-top:50px">

        <div class="row">
                    <div class="col-md-6">
                        <div class="well">

                            <h2>Заявки</h2>

                            <p>{{ apps|length }} всего, {{ r_apps|length }} распределены и
                                {{ apps|length - r_apps|length }} не распределены</p>

                            <h3>Новые заявки:</h3>
                            <table class="table">
                                {% for g in apps[:3] %}
                                <tr>
                                    <td>{{ g.name }}</td>
                                    <td>{{ g.phone }}</td>
                                    <td>{{ g.mail }}</td>
                                    <td>{{ g.status }}</td>
                                    <td><a href="/admin/applicant/edit/?id={{ g.group_id }}">Править</a></td>
                                </tr>
                                {% endfor %}
                            </table>
                            <br>
                            <a href="" class></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="well">

                            <h2>Группы</h2>
                            <br>
                            <table class="table">
                                {% for group in groups %}
                                <tr>
                                    <td><a href="/admin/group/edit/?id={{ group.g_id }}">{{ group.title }}</a></td>
                                    <td>8 / {{ group.seats }} набрано</td>
                                    <td>есть места</td>
                                </tr>
                                {% endfor %}
                            </table>

                        </div>
                    </div>
        </div>


</div>

{% endblock %}